/* eslint-disable no-undef */
module.exports = {
  // App env
  appName: 'NodeJs',
  appVersion: '1.0.0',

  // Process
  port: 3000,
  key: , // Please generate 32 bit random string
  debug: true,

  // Database env
  dbDriver: 'mysql',
  dbHost: 'localhost',
  dbPort: '3306',
  dbName: 'database',
  dbUser: 'root',
  dbPass: 'secret'
}
